
/*	------------------------------------------
	                CSS of "Overall"
	------------------------------------------  */

body,html {
	position:relative;
	height     : 100%;
	margin     : 0;
	padding    : 0;
	font-family: Arial,"Microsoft YaHei";
	background-color:white;
}
.padding_0{padding:0 !important;}

.btn_new{
	background-color: rgba(0,0,0,0);
	border          :1px solid;
	font-size       :20px;
	padding         :10px;
	margin          :10px;
}
.btn_new:hover{
	background-color: rgba(255,255,255,0.5);
	border          :1px solid;
	font-size       :20px;
}
.btn_center {
	margin:10px auto;
}

a:hover {text-decoration: none;}


/*	------------------------------------------
	   CSS of "Header & Footer & container"
	------------------------------------------  */

.inners{
	width 	: 80%;
	margin  : 0 auto;
}
.container_big{
	width    : 100%;
	max-width: 1200px;
	margin   : auto;
}
.container{
	width    : 100%;
	max-width: 970px;
}
@media (max-width: 960px) {.inners	{width:100%;}}

#headingDefault{
	background: #2E5D9C;
	position  :	fixed;
	z-index   :	1000;
	top       : 0px;
	width     :	100%;
	min-height: 51px;
}
#headingFull{
	background: rgba(0,0,0,0.1);
	position  :	fixed;
	font-weight:900;
	z-index   :	1000;
	top       : 0px;
	width     :	100%;
	min-height: 51px;
	text-shadow:0 0 10px #000000;
}
#headingForIndex{
	background: rgba(0,0,0,0);
	position  :	absolute;
	z-index   :	1000;
	width     :	100%;
	bottom 	  : 0px;
	min-height: 51px;
	text-shadow:0 0 10px #000000;
	-webkit-transition: background-color .6s ease-in-out;
	-o-transition: background-color .6s ease-in-out;
	transition: background-color .6s ease-in-out;
}

#headingForIndex.affix {
	position          : fixed;
	background        : #2E5D9C;
	top               : 0;
	bottom            :auto;
	width             :100%;
	z-index           :10;
	min-height        :51px;
	-webkit-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

#headingForPost{
	background: rgba(0,0,0,0);
	position  :	fixed;
	z-index   :	1000;
	top       : 10px;
	width     :	100%;
	min-height: 51px;
	text-shadow:0 0 10px #000000;
	-webkit-transition: background-color .6s ease-in-out;
	-o-transition: background-color .6s ease-in-out;
	transition: background-color .6s ease-in-out;
}

#headingForPost.affix {
   background: #2E5D9C;
	position  :	fixed;
	z-index   :	1000;
	top       : 0;
	width     :	100%;
	min-height: 51px;
	text-shadow:0 0 10px #000000;
	-webkit-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.big_top {
  	width          :100%;
	padding        :100px 0 30px 0;
	background-image: url(../images/btop_default.jpg);
	background-size:	cover;
	text-align     : center;
	font-size      :	50px;
	color          :	#FFFFFF;
	text-shadow    :0 0 30px #000000;
 }

.navbar{margin:0;color:#FFFFFF;}
.navbar-toggle{margin-bottom:0;}
.nav>li>a{color:#FFFFFF;padding:15px 14px;}
.dropdown>a:hover,.nav>li>a:hover,.nav .open>a{
	background-color:rgba(0,0,0,0.3)!important;
}
.dropdown-menu>li>a {padding:5px 14px;}
.dropdown-menu{

	text-shadow:0 0 0;
	background-color: rgba(255,255,255,0.8);
}
@media (max-width: 768px){.dropdown-menu{display:none !important;}}
.footer{
	text-align : center;
	height     : 50px;
	line-height: 2em;
	font-size: 10px;
}
@media (min-width: 960px) {
	.footer>div{padding:13px;}
	.footer #left {float:left;}
	.footer #right{float:right;}
}

/*	------------------------------------------
	         CSS for "Logging System"
	------------------------------------------  */

.make_it_left {
	left:0 !important;
	right:auto !important;
}
.login_section {
	width: 300px !important;
	padding: 25%;
	color: black;
	text-align: center;
}
.login_section div {
	padding: 10px;
}
.login_section button {
	width:35%;
	margin: 10px 7%;
}

.login-in {
	background-color: #2E5D9C;
	color : #FFFFFF;
	padding-top: 20px;
}

.login-in img {
	width:100%;
	margin-top: 100px;
}

.login-inside {
	padding: 20px;
	background-color: #2E5D9C;
}

.login-inside div {
	margin: 20px;
}

.login-inside button {
	width:39%;
	margin:5%;
}

.panel-title {
	text-align: center;
}


/*	------------------------------------------
	              CSS for "Index"
	------------------------------------------  */

.index_1{
	background     : url(../images/index_1.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.index_1 img {
	margin:5%;
	width :90%;
}
.index_2{
	background-color: #2E5D9C;
	color : #FFFFFF;
}
.index_2 h3 {
	line-height   : 1.4em;
}
.index_2 h1, .index_3 h1{
	font-size: 55px;
	line-height   : 2em;
	text-align : center;
	vertical-align: middle;
	margin        : 0;
}
.index_3 {
	text-align : center;
}
@media (max-width: 768px){.index_3 h2{font-size:10px !important;}}
.index_3 img {
	float: center;
	width:100%;
	padding:20%;
}
.index_2 img{
	width : 40%;
	margin: 2%;
	float : right;
}
/*	------------------------------------------
	        CSS for "User_table"
	------------------------------------------  */
	
.alert {
	margin: 10px;
}
.panel {
	margin : 5%;
}
.poi_panel {
	padding: 5%;
}
.poi_panel img {
	float: left;
	width: 100%;
}
.panel_favourite {
	float: right !important;
	text-aligh: center;
}
.panel_favourite img {
	width: 50px;
}
.panel_favourite a {
	color: #FFCC00;
	line-height: 0.7em;
	font-size:65px;
}
.big_number {
	font-size: 65px;
	color: #FFCC00;
}
.paddingadd {
	padding: 20px;
	text-align:center;
}
.author img {
	width : 35%;
	float: left;
	padding: 20px;
}
.author h1 {
	text-align:left;
	line-height:1.5em;
}